body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #000428, #004e92);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    padding: 20px 0;
}

.balance-box {
    text-align: center;
    padding: 20px;
    background: rgba(255,255,255,0.05);
    margin: 15px;
    border-radius: 12px;
}

.primary-btn {
    background: #00c6ff;
    color: black;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    font-weight: bold;
    width: 70%;
}

.page {
    display: none;
    padding: 20px;
}

.page.active {
    display: block;
}

.bottom-tabs {
    background: rgba(255,255,255,0.1);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tab-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
}

.tab-btn.active {
    font-weight: bold;
    text-decoration: underline;
}
